################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AquariumController/bin
/AquariumController/obj
/Lcd1602Controller/bin
/Lcd1602Controller/obj
/packages
/InfoPages/bin
/InfoPages/obj
/uFire_ISE/obj
/uFire_ISE/bin
